.contactUs{
    position: relative;
    width: 95vw;
    height: auto;
    background: #FFFFFF;
    border-radius: 14px;
    margin: 0 auto;
    padding: 10px;
    /* overflow: hidden; */
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 90%;
    align-items: center;
    margin: 0 auto;
}

.title{
    Color: #033A62;
    font-family: 'poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* position: absolute; */
    margin-left: 78px;
}


.details p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

@media screen and (max-width: 1200px){

    .details p{
        font-size: 12px;
    }

    .title{
        margin-left: 40px;
    }
}

@media screen and (max-width: 800px){

    .details p{
        font-size: 15px;
    }

    .container img{
        display: none;
    }

    .title{
        margin-left: 0px;
    }
}

@media screen and (max-width: 800px){

    .details p{
        font-size: 12px;
    }

    .title{
        margin-left: 5px;
    }
}

@media screen and (max-width: 480px) {

    .contactUs{
        max-width: 85vw;
    }

    .details p{
        font-size: 8px;
    }

    .container img{
        display: none;
    }

    .title{
        margin-left: 15px;
    }
}

