.box{
    margin: 0 auto;
    max-width: 85vw;
    color: #033a62;
}
.gallery{
    max-width: 40vw;
    margin: 0 auto;
}
.gallery img{
    border-radius: 8px;
}
.box h2{
    color: #033a62;
    font-family: "poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}
@media screen and (max-width: 480px) {
    .gallery{
        max-width: 250px;
    }
}