.box{
    margin: 0 auto;
    max-width: 85vw;
    color: #033a62;
}
.gallery{
    max-width: 40vw;
    margin: 0 auto;
}
.gallery img{
    border-radius: 8px;
}
.box h2{
    color: #033a62;
    font-family: "poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

@media screen and (max-width: 1200px) {
    .gallery{
        max-width: 500px;
    }
    
    .box{
        max-width: 95vw;
    }

    .gallery img{
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .gallery{
        max-width: 350px;
    }
    .gallery img{
        height: auto;
    }
}

@media screen and (max-width: 480px) {

    .box{
        max-width: 85vw;
    }

    .gallery{
        max-width: 250px;
    }
    .box h2{
        margin-left: 10px;
    }
    .gallery img{
        height: auto;
    }
}