@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:wght@200&family=Quicksand:wght@500&display=swap");

*{
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: "Poppins";
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

.content {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  
}

a {
  text-decoration: none;
}

nav {
  position: relative;
  top: 0;
  z-index: 1;
  max-width: 100vw;
  background: #f2f2f2;
  padding: 5px 20px;
  display: flex;
  align-items: center;

  /* overflow: auto; */
}

nav a {
  color: black;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 45px;
  list-style: none;
  font-size: 16px;
}
.menu button {
  padding: 3px 8px;
  font-size: 16px;
  font-family: "Poppins";
  background-color: #0059b3;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}

.menu button:hover{
  cursor: pointer;
}

.footer{
  max-width: 100vw;
  position: relative; 
  bottom: 0;
  background: #F2F2F2;
  padding: 3px 10px;
  display: flex;
 align-items: center;
 justify-content: space-between;
}
 .enigma{
  display: flex;
  align-items: center;
  margin-right: 30px;
 }

.enigma p a{
  text-decoration: none;
  color: #000000;
}

.enigma img{
  margin-left: 10px;
  height: 25px;
  width: 25px;
}
.insta a {
  display: flex;
  align-items: center;
  column-gap: 10px;

  font-size: 18px;

}
.insta img {
  width: 19px;
  height: 17px;
}
.logo {
  flex: 1;
}
.logo a {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.logo img {
  width: 40px;
  margin-right: 10px;
}

.burger-menu {
  display: none;
}

@media screen and (max-width: 800px){
  .menu{
    column-gap: 15px;
  }

  .menu li a{
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  
  .burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    z-index: 4;
  }

  .burger-bar {
    width: 45%;
    height: 3px;
    background-color:rgb(126, 131, 133);
    border-radius: 0.5em;
    margin: 3px 0;
  }

  .menu {
    width: 90vw;
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #CCE6FF;
    color: #ffffff;
    position: absolute;
    top: 0;
    margin: 0 auto;
    z-index: 1;
    font-family: "Poppins";
    border-radius: 10px;
  }

  /* ------------- sliding menu ------------------ */
  .hidden {
    display: none;
  }

  .visible {
    display: inherit;
  }

  /* ----- animations--------- */
  /* clicked */
  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0px, 10px);
    transition: ease-out 0.5s;
    background-color: #8a8a8a;
  }

  .burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-3px, 13px);
    transition: ease-out 0.5s;
    background-color: #8a8a8a;
  }

  /* unclicked */
  .burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }

  .logo a {
    font-size: 20px;
    font-weight: 800;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
    max-width: 100vw;
    /* padding: 20px 0px; */
  }
  
  .menu button {
    padding: 3px 8px;
    font-size: 15px;
    font-family: "Poppins";
  }
  .footer {
   display: flex;
   flex-direction: row;
    font-size: 10px;
    max-width: 100vw;
  }
  .footer a{
    font-size: 10px;
    position: relative;
    bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  
  .burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    z-index: 4;
  }

  .burger-bar {
    width: 45%;
    height: 3px;
    background-color:rgb(126, 131, 133);
    border-radius: 0.5em;
    margin: 3px 0;
  }

  .menu {
    width: 90vw;
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #CCE6FF;
    color: #ffffff;
    position: absolute;
    top: 0;
    margin: 0 auto;
    z-index: 1;
    font-family: "Poppins";
    border-radius: 10px;
  }

  /* ------------- sliding menu ------------------ */
  .hidden {
    display: none;
  }

  .visible {
    display: inherit;
  }

  /* ----- animations--------- */
  /* clicked */
  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0px, 10px);
    transition: ease-out 0.5s;
    background-color: #8a8a8a;
  }

  .burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-3px, 13px);
    transition: ease-out 0.5s;
    background-color: #8a8a8a;
  }

  /* unclicked */
  .burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }

  .logo a {
    font-size: 20px;
    font-weight: 800;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
    max-width: 100vw;
    /* padding: 20px 0px; */
  }
  
  .menu button {
    padding: 3px 8px;
    font-size: 15px;
    font-family: "Poppins";
  }
  .footer {
   display: flex;
   flex-direction: row;
    font-size: 10px;
    max-width: 100vw;
  }
  .footer a{
    font-size: 10px;
    position: relative;
    bottom: 0;
  }
}
