@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.page {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  padding: 0px;
}

.mainHead {
  /* width: 139px; */
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #033a62;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5%;
  gap: 15px;
}
.head {
  width: 90px;
  height: 30px;
  left: 289px;
  top: 29px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #ffffff;
}
.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 65px 46px 65px;
  gap: 30px;

  width: 668px;
  height: 100%;

  background: linear-gradient(90deg, #3C70BE 0%, rgba(27, 28, 67, 0.85) 101.38%);
  border-radius: 13px;
}
.match{
    margin-top: 1rem;
}
.fixturecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  width: 100%;
  height: 153px;
  background: rgba(254, 255, 250, 0.28);
  border-radius: 20px;
}
.grp {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 120%;
  line-height: 30px;
  color: #ffffff;

}
.crp {
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0px 2.4rem 0px 2.4rem;
  border: 4px solid #fff;
  color: #fff;
  text-align: center;
  font: 130% Arial, sans-serif;
}
.vs {
  padding-top: 10px;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 200%;
  line-height: 45px;
  color: #ffffff;
}
.time {
  width: 302px;
  height: 30px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.08em;

  color: #ffffff;
}
.scoremain {
  display: flex;
  flex-direction: column;
  width: 408px;
  height: 250px;
  background: rgba(234, 230, 230, 0.199);
  border-radius: 11px;
  background-image: url('/1.jpg');
  background-position: center;
  background-size: 408px 300px;
  background-repeat:no-repeat;
}
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.live {
  /* position: absolute; */
  width: 45px;
  height: 36px;
  margin-top: 1rem;
  margin-left: 20rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #ffffff;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 23.4rem;
  margin-top: -1.3rem;
  background: #ff0000;
  animation: blip 1s linear 2s infinite;
}

@keyframes blip {
  0% { opacity: 1; }
  25% { opacity: 0.75; }
  50% { opacity: 0.5; }
  100% { opacity: 0; }
}

.grp1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  color: #ffffff;
}
.crp1 {
  border-radius: 50%;
  width: max-content;
  height: max-content;
  padding: 10px;
  margin: 0px 20px 0px 20px;
  border: 3px solid #fff;
  color: #fff;
  text-align: center;
  font: 25px Arial, sans-serif;
}
.vs1 {
  width: 58px;
  height: 36px;

  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height */

  color: #ffffff;
}
@media screen and (max-width: 1260px) {
.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card1{
    width: 100%;
}
}
@media screen and (max-width:673px) {
    .grp{
        font-size: 16px;
    }
    .crp{
       margin: 0 0.65rem;
       font-size: 20px;
    }
    .vs{
        font-size: 27px;
    }
    .match{
        padding: auto;
    }
}

@media screen and (max-width:500px) {
  .card1{
    max-width: 70vw;
    margin: 10px;
}
.fixturecard{
    width: 87vw;
}
.scoremain{
  max-width: 95vw;
  margin: 10px;
}
}
@media screen and (max-width:414px){
  .live{
  margin-left: 18rem;
  }
  .dot{
    margin-left: 21rem;
  }
  .crp1{
    margin: 0px 12px 0px 12px;
  }
}
@media screen and (max-width:360px){
  .live{
    margin-left: 16rem;
    }
    .dot{
      margin-left: 19.5rem;
    }
    .crp1{
      margin: 0px 10px 0px 10px;
    }
}
