@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.main {
  width: 90%;
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 10px;
  height: auto;
  /* overflow: hidden; */
}

.events {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 17px 28px;
  gap: 104px;

  position: relative;
  max-width: 100vw;
}

.event {
  width: 251px;
  height: 277px;
  border-radius: 9px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  position: relative;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #ffffff;
}

/* .events{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
} */

.title {
  color: #033a62;
  font-family: "poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

/* .event{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    position: relative;
    color: #FFFFFF;
} */

.event:hover img {
  -webkit-filter: drop-shadow(10px 10px 10px #666666);
  filter: drop-shadow(10px 10px 10px #666666);
  transition: 0.4s;
  width: 300px;
  height: 320px;
  z-index: 6;
}

.event img {
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);
  transition: 0.4s;
}

.event p {
  margin: 5px;
}

.football {
  position: absolute;
  background-color: #9bd1e3;
  z-index: -1;
  width: 251px;
  height: 197px;
  border-radius: 9px;
  top: 100px;
}

.kabaddi {
  position: absolute;
  background-color: #d88030;
  z-index: -1;
  width: 251px;
  height: 197px;
  border-radius: 9px;
  top: 100px;
}

.khokho {
  position: absolute;
  background-color: #a737c3;
  z-index: -1;
  width: 251px;
  height: 197px;
  border-radius: 9px;
  top: 100px;
}

.cricket {
  position: absolute;
  background-color: #388ff5;
  z-index: -1;
  width: 251px;
  height: 197px;
  border-radius: 9px;
  top: 100px;
}

.event:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .events {
    flex-direction: column;
    gap: 20px;
  }

  .event {
    margin: 0 auto;
  }
}
